
:root {
    --bcdatatable-background-color-light: white;
    --bcdatatable-background-color-light-active: #e1e1e1;
    --bcdatatable-background-color-light-hover: #cccccc;
    --bcdatatable-background-color-dark: #1e1e1e;
    --bcdatatable-background-color-dark-active: #313131; // #444444; // #3c3c3c;
    --bcdatatable-background-color-dark-hover: #444444; // #313131; // #2e2e2e;

    --bcdatatable-text-color-light: black;
    --bcdatatable-text-color-dark: white;
    --bcdatatable-text-font-size: 0.9rem;

    --bcdatatable-button-color-light: lightgray;
    --bcdatatable-button-color-dark: gray;
    --bcdatatable-button-hover-color-light: gray;
    --bcdatatable-button-hover-color-dark: lightgray;

    --bcdatatable-border-options: thin solid;
    --bcdatatable-border-color-light: rgba(0, 0, 0, 0.12);
    --bcdatatable-border-color-dark: hsla(0, 0%, 100%, 0.12);

    --bcdatatable-expansion-shadow-light: rgb(50 50 50 / 50%);
    --bcdatatable-expansion-shadow-dark: rgb(200 200 200 / 50%);
    --bcdatatable-expansion-shadow-top: inset 0 4px 10px -8px;
    --bcdatatable-expansion-shadow-bottom: inset 0 -4px 10px -8px;

    // --bcdatatable-headers-background-color: rgb(246, 247, 250);
    // --bcdatatable-odd-background-color: #e0e6ed26;
    // --bcdatatable-even-background-color: #e0e6ed26;

    --bcdatatable-title-font-size: 1.8rem;
}

// .bcdatatable-parent, .bcdatatable-filter-menu {
.bcdatatable-parent, .bcdatatable-parent * {
    &::-webkit-scrollbar {
        width: 8px;
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        // background: #f1f1f1;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        // background: #888;
        border-radius: 10px;
    }
}

.bcdatatable-wrapper table {
    border-radius: 4px;
    max-width: 100%;
    border-spacing: 0;

    // border-collapse: collapse;
    border-collapse: separate; // without, border on cells disappears with sticky

    th {
        font-weight: bold;
        text-align: initial;
    }

    th,
    td {
        font-size: var(--bcdatatable-text-font-size);
        transition: padding 0.2s cubic-bezier(0.4, 0, 0.6, 1);
        padding: 6px 16px;
        // padding: 0 16px;
        height: 38px;

        box-sizing: border-box;

        .bcdatatable-filter-input {
            height: 28px;
        }

        .bcdatatable-filter-button > svg {
            width: 18px;
            height: 18px;
        }

        &.bcdatatable-empty-row-cell {
            text-align: center;
            // color: rgba(0,0,0,.38);
        }

        &:not(.divider).bcdatatable-selection {
            padding-right: 0;
        }

        .bcdatatable-expansion {
            padding-right: 4px !important;
            // opacity: 0.5;
            pointer-events: auto;
            cursor: pointer;
            outline: 0;

            .bcdatatable-expansion-icon {
                display: block;
                width: 16px;
                height: 16px;
                fill: currentColor;
            }
        }
    }

    &.density-compact {

        th,
        td {
            padding: 2px 16px;
            height: 26px;
        }

        .bcdatatable-filter-input {
            height: 24px;
        }

        .bcdatatable-filter-button > svg {
            width: 14px;
            height: 14px;
        }

        .bcdatatable-filter-menu li {
            padding: 4px 20px;
        }

        .bcdatatable-progress .bcdatatable-progress-bar {
            height: 3px;
        }
    }

    &.density-comfortable {

        th,
        td {
            padding: 10px 16px;
            height: 62px;
        }

        .bcdatatable-filter-input {
            height: 40px;
        }

        .bcdatatable-filter-button > svg {
            width: 18px;
            height: 18px;
        }

        .bcdatatable-filter-menu li {
            padding: 12px 20px;
        }

        .bcdatatable-progress .bcdatatable-progress-bar {
            height: 8px;
        }
    }

    .bcdatatable-progress {

        // height: 4px;
        th,
        td {
            height: auto;
            padding: 0;
        }

        .bcdatatable-progress-bar {
            height: 5px;
            position: relative;

            > div {
                position: absolute;
                border-radius: 10px;
                top: 0;
                right: 100%;
                bottom: 0;
                left: 0;
                width: 0;
                animation: progress_bar_loading 2s linear infinite;
            }
        }
    }

    thead,
    tfoot {

        tr:not(:last-child) {
            th,
            td {
                padding-bottom: 0px;
            }
        }

        tr:first-child:not(:last-child),
        tr:last-child:not(:first-child) {
            th, td {
                height: inherit;
            }
        }

        th,
        td {

            &.sortable .bcdatatable-sort {
                pointer-events: auto;
                cursor: pointer;
                outline: 0;
            }

            &.sortable,
            &:not(.sortable) {
                &:not(.bcdatatable-selection) {
                    .bcdatatable-sort {
                        opacity: 0.2;
                        // color: green;
                    }
                }
            }

            &.sortable.active {
                .bcdatatable-sort {
                    opacity: 0.6;
                    // color: red;
                }
            }

            &.sortable:not(.active) {
                .bcdatatable-sort {
                    visibility: hidden;
                    // display: none;
                }

                &:hover {
                    .bcdatatable-sort {
                        visibility: visible;
                        // display: initial;
                    }
                }
            }

            &.sortable:hover {
                .bcdatatable-sort {
                    opacity: 1;
                    // color: blue;
                }
            }

            &.desc .bcdatatable-sort-icon {
                transform: rotate(-180deg);
            }
        }

        .bcdatatable-sort {
            display: flex;
            align-items: center;
        }

        .bcdatatable-sort-icon {
            display: block;
            position: relative;
            top: -0.08rem;
            margin-left: 3px;
            fill: currentColor;
        }

        .bcdatatable-sort-badge {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: 0;
            border-radius: 50%;
            min-width: 18px;
            min-height: 18px;
            height: 18px;
            width: 18px;
        }
    }

    thead {
        th, td {
            z-index: 3;
        }
    }
    tfoot {
        th, td {
            z-index: 2;
        }
    }

    tbody {
        .bcdatatable-expansion-nested-row {

            >th,
            >td {
                padding: 0;
            }
        }
    }

    .bcdatatable-filter {
        padding-left: 8px !important;
        padding-right: 8px !important;
        
        > div {
            width: 100%;
            max-width: 100%;
            display: flex;
            position: relative;
        }
    }

    .bcdatatable-filter-input {
        // min-width: 60px;
        width: 100%;
        // flex: 1 0 auto;

        box-sizing: border-box;

        // border: 1px solid var(--bcdatatable-border-color-light);
        border-radius: 4px 0 0 4px;

        outline: none;
    }

    .bcdatatable-filter-button {

        // width: 100%;
        // flex: 0 0 auto;

        display: flex; 
        align-items: center; 
        justify-content: center;
        
        margin: 0;
        padding: 2px 6px;

        border-radius: 0 4px 4px 0;
        border-left: 0 !important;

        // border: 1px solid var(--bcdatatable-border-color-light);
        background-color: buttonface;

        &:hover { 
            background-color: buttonface;

            > svg {
                color: black;
            }
        }

        > svg {
            color: grey;
        }
    }
    
    .bcdatatable-filter-menu {
        position: absolute;
        right: 0;
        border-radius: 4px;
        opacity: 1;
        z-index: 10;

        overflow: auto;
        padding: 10px 0;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            margin: 0;
            padding: 8px 20px;
            cursor: pointer;
        }
    }

    thead .bcdatatable-filter-menu {
        top: calc(100% + 1px);
    }
    tfoot .bcdatatable-filter-menu {
        bottom: calc(100% + 0px);
    }
}

.bcdatatable-container-top {
    margin-bottom: 8px;
    width: 100%;

    .bcdatatable-title {
        font-size: var(--bcdatatable-title-font-size);
        margin-left: 12px;
    }
}

.bcdatatable-container-bottom {
    margin-top: 8px;
    width: 100%;
}

.theme--light {

    background-color: var(--bcdatatable-background-color-light);
    color: var(--bcdatatable-text-color-light);

    .bcdatatable-parent, .bcdatatable-filter-menu {
        &::-webkit-scrollbar-track {
            background: var(--bcdatatable-background-color-light) ; // #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--bcdatatable-background-color-light-active) ; // #888;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: var(--bcdatatable-background-color-light-hover) ; // #555;
        }
    }

    table {
        &.divider {
            thead>tr:last-child {

                >th,
                >td {
                    border-bottom: var(--bcdatatable-border-options)  var(--bcdatatable-border-color-light);
                    // border-bottom: 3px solid red;
                }
            }

            tfoot>tr:first-child {

                >th,
                >td {
                    border-top: var(--bcdatatable-border-options)  var(--bcdatatable-border-color-light);
                    // border-top: 3px solid green;
                }
            }

            tbody>tr:not(:last-child) {

                >th,
                >td {
                    border-bottom: var(--bcdatatable-border-options)  var(--bcdatatable-border-color-light);

                    &.bcdatatable-empty-row-cell {
                        color: rgba(0, 0, 0, 0.38);
                    }
                }
            }
        }

        .bcdatatable-progress .bcdatatable-progress-bar {
            background: rgba(0, 0, 0, 0.12);

            >div {
                background: rgba(0, 0, 0, 0.25);
            }
        }

        .bcdatatable-sort-badge {
            background-color: rgba(0, 0, 0, 0.12);
        }
   
        thead.divider>tr:last-child, 
        thead>tr.divider {
            >th,
            >td {
                border-bottom: var(--bcdatatable-border-options)  var(--bcdatatable-border-color-light);
            }
        }
        tfoot.divider>tr:first-child,
        tfoot>tr.divider {
            >th,
            >td {
                border-top: var(--bcdatatable-border-options)  var(--bcdatatable-border-color-light);
                // border-top: 3px solid green;
            }
        }
        tbody.divider>tr:not(:last-child), 
        tbody>tr.divider:not(:last-child) {
            >th,
            >td {
                border-bottom: var(--bcdatatable-border-options)  var(--bcdatatable-border-color-light);

                &.bcdatatable-empty-row-cell {
                    color: rgba(0, 0, 0, 0.38);
                }
            }
        }

        th,
        td {
            background-color: var(--bcdatatable-background-color-light);

            &.divider-left {
                border-left: var(--bcdatatable-border-options)  var(--bcdatatable-border-color-light);
            }

            &.divider-right {
                border-right: var(--bcdatatable-border-options)  var(--bcdatatable-border-color-light);
            }

            &.divider-top {
                border-top: var(--bcdatatable-border-options)  var(--bcdatatable-border-color-light);
            }

            &.divider-bottom {
                border-bottom: var(--bcdatatable-border-options)  var(--bcdatatable-border-color-light);
            }

        }
    
        .bcdatatable-expansion-row, .bcdatatable-expansion-nested-row {
            .bcdatatable-expansion-only-row {
                box-shadow: 
                    var(--bcdatatable-expansion-shadow-top) var(--bcdatatable-expansion-shadow-light),
                    var(--bcdatatable-expansion-shadow-bottom) var(--bcdatatable-expansion-shadow-light);
            }

            .bcdatatable-expansion-first-row {
                box-shadow: var(--bcdatatable-expansion-shadow-top) var(--bcdatatable-expansion-shadow-light);
            }

            .bcdatatable-expansion-last-row {
                box-shadow: var(--bcdatatable-expansion-shadow-bottom) var(--bcdatatable-expansion-shadow-light);
            }
        }
    }

    .bcdatatable-filter-input, .bcdatatable-filter-button, .bcdatatable-filter-menu { 
        border: 1px solid var(--bcdatatable-border-color-light);
    }
    .bcdatatable-filter-menu {
        background-color: var(--bcdatatable-background-color-light);

        li.bcdatatable-filter-active {
            background-color: var(--bcdatatable-background-color-light-active);
        }
        li:hover {
            background-color: var(--bcdatatable-background-color-light-hover);
        }
    }

    .bcdatatable-expansion-icon, .bcdatatable-sort-icon {
        fill: var(--bcdatatable-text-color-light);
    }

}

.theme--dark {
    background-color: var(--bcdatatable-background-color-dark);
    color: var(--bcdatatable-text-color-dark);

    .bcdatatable-parent, .bcdatatable-filter-menu {
        &::-webkit-scrollbar-track {
            background: var(--bcdatatable-background-color-dark) ; 
        }

        &::-webkit-scrollbar-thumb {
            background: var(--bcdatatable-background-color-dark-active) ; 
        }

        &::-webkit-scrollbar-thumb:hover {
            background: var(--bcdatatable-background-color-dark-hover) ; 
        }
    }

    table {
        &.divider {
            thead>tr:last-child {

                >th,
                >td {
                    border-bottom: var(--bcdatatable-border-options)  var(--bcdatatable-border-color-dark);
                }
            }

            tfoot>tr:first-child {

                >th,
                >td {
                    border-top: var(--bcdatatable-border-options)  var(--bcdatatable-border-color-dark);
                }
            }

            tbody>tr:not(:last-child) {
                >th,
                >td {
                    border-bottom: var(--bcdatatable-border-options)  var(--bcdatatable-border-color-dark);

                    &.bcdatatable-empty-row-cell {
                        color: rgba(255, 255, 255, 0.38);
                    }
                }
            }
        }

        .bcdatatable-progress .bcdatatable-progress-bar {
            background: hsla(0, 0%, 100%, 0.12);

            >div {
                background: hsla(0, 0%, 100%, 0.25);
            }
        }

        .bcdatatable-sort-badge {
            background-color: hsla(0, 0%, 100%, 0.12);
        }
   
        thead.divider>tr, 
        thead>tr.divider {
            >th,
            >td {
                border-bottom: var(--bcdatatable-border-options)  var(--bcdatatable-border-color-dark);
                // border-bottom: 3px solid red;
            }
        }
        tfoot.divider>tr,
        tfoot>tr.divider {
            >th,
            >td {
                border-top: var(--bcdatatable-border-options)  var(--bcdatatable-border-color-dark);
                // border-top: 3px solid green;
            }
        }
        tbody.divider>tr:not(:last-child), 
        tbody>tr.divider:not(:last-child) {
            >th,
            >td {
                border-bottom: var(--bcdatatable-border-options)  var(--bcdatatable-border-color-dark);

                &.bcdatatable-empty-row-cell {
                    color: rgba(0, 0, 0, 0.38);
                }
            }
        }

        th,
        td {
            background-color: var(--bcdatatable-background-color-dark);

            &.divider-left {
                border-left: var(--bcdatatable-border-options)  var(--bcdatatable-border-color-dark);
            }

            &.divider-right {
                border-right: var(--bcdatatable-border-options)  var(--bcdatatable-border-color-dark);
            }

            &.divider-top {
                border-top: var(--bcdatatable-border-options)  var(--bcdatatable-border-color-dark);
            }

            &.divider-bottom {
                border-bottom: var(--bcdatatable-border-options)  var(--bcdatatable-border-color-dark);
            }

        }

        .bcdatatable-expansion-row, .bcdatatable-expansion-nested-row {
            .bcdatatable-expansion-only-row {
                box-shadow: 
                    var(--bcdatatable-expansion-shadow-top) var(--bcdatatable-expansion-shadow-dark),
                    var(--bcdatatable-expansion-shadow-bottom) var(--bcdatatable-expansion-shadow-dark);
            }

            .bcdatatable-expansion-first-row {
                box-shadow: var(--bcdatatable-expansion-shadow-top) var(--bcdatatable-expansion-shadow-dark);
            }

            .bcdatatable-expansion-last-row {
                box-shadow: var(--bcdatatable-expansion-shadow-bottom) var(--bcdatatable-expansion-shadow-dark);
            }
        }

    }

    .bcdatatable-filter-input, .bcdatatable-filter-button, .bcdatatable-filter-menu { 
        border: 1px solid var(--bcdatatable-border-color-dark);
        // border: 1px solid var(--bcdatatable-border-color-dark);
    }
    .bcdatatable-filter-menu {
        background-color: var(--bcdatatable-background-color-dark);

        li.bcdatatable-filter-active {
            background-color: var(--bcdatatable-background-color-dark-active);
        }
        li:hover {
            background-color: var(--bcdatatable-background-color-dark-hover);
        }
    }

    .bcdatatable-expansion-icon, .bcdatatable-sort-icon {
        fill: var(--bcdatatable-text-color-dark);
    }

}

@keyframes progress_bar_loading {
    0% {
        left: 0%;
        right: 100%;
        width: 0%;
    }

    10% {
        left: 0%;
        right: 75%;
        width: 25%;
    }

    90% {
        right: 0%;
        left: 75%;
        width: 25%;
    }

    100% {
        left: 100%;
        right: 0%;
        width: 0%;
    }
}
